<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <h1 class="lead text-white">MOPI</h1>
              <!-- <img src="./assets/img/brand/argon-white.png" style="width: 200px;" class="img-fluid"> -->
              <p class="lead text-white">MODIFICADOR DE PEDIDOS AUTOMATICO</p>
              <div class="btn-wrapper mt-5">
                <button 
                  class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0" 
                  target="_blank"
                  (click)="openModal(template)"
                  >
                  <span class="btn-inner--icon"><i class="fa fa-pencil"></i></span>
                  <span class="btn-inner--text">Modificar</span>
                </button>
              </div>
              <!-- <div class="btn-wrapper pt-2">
                <button 
                class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0 px-4" 
                target="_blank"
                (click)="openModalEdit(classic,'' , '')">
                <span class="btn-inner--icon"><i class="fa fa-trash"></i></span>
                <span class="btn-inner--text">Eliminar</span>
              </button>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <!-- <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div> -->
    </section>
  </div>
  <!-- <app-sections></app-sections> -->
</main>

<!-- <ng-template #classic let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <h6 class="modal-title" id="modal-title-default">MODIFICAR PEDIDO</h6>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <label for="clientlist" class="form-label">Cliente</label>
        <input
          class="form-control"
          list="clientlistOptions"
          id="clientlist"
          placeholder="Type to search..."
          [(ngModel)]="client.id">
          <div *ngFor="let cliente of client">
            <datalist id="clientlistOptions">
              <option value="cliente.id">
            </datalist>
          </div>
        <label for="skulist" class="form-label mt-2">SKU a modificar</label>
        <input class="form-control" list="skulistOptions" id="skulist" placeholder="Type to search...">
        <datalist id="skulistOptions">
          <option value="Quilmes">
          <option value="Stella">
        </datalist>
        <label for="quantity" class="form-label mt-2">Cantidad Deseada</label>
        <input
          class="form-control"
          id="quantity"
          type="number"
          placeholder="Cantidad Deseada"
          aria-label="default input example">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal" (click)="c('Close click')">Close</button>
      <button type="button" class="btn btn-primary" (click)="realizarPedido(clientlist, skulist, quantity)">Finalizar</button>
    </div>
  </div>
</ng-template> -->

<ng-template #template>
  <div class="modal-header">
    <h5 class="modal-title">Add Reminder</h5>
  </div>
  <div class="modal-body col-12">
    <label for="clientlist" class="form-label">Cliente</label>
    <input
      class="form-control"
      list="clientlistOptions"
      type="number"
      id="clientlist"
      placeholder="Type to search..."
      [(ngModel)]="clientId">
      <datalist id="clientlistOptions">
        <option value="111111">
        <option value="222222">
      </datalist>
    <label for="skulist" class="form-label mt-2">SKU a modificar</label>
    <input
      class="form-control"
      list="skulistOptions"
      id="skulist"
      [(ngModel)]="sku"
      placeholder="Type to search...">
    <datalist id="skulistOptions">
      <option value="Quilmes">
      <option value="Stella">
    </datalist>
    <label for="quantity" class="form-label mt-2">Cantidad Deseada</label>
    <input
      class="form-control"
      id="quantity"
      type="number"
      placeholder="Cantidad Deseada"
      [(ngModel)]="cantidad"
      aria-label="default input example">
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary " (click)="closeModal()">Cancelar</button>
      <button type="button" class="btn btn-primary" (click)="modificarPedido()">Finalizar</button>
    </div>
  </div>
</ng-template>
